Checks: >-
  boost*,
  bugprone*,
  -bugprone-easily-swappable-parameters,
  cert*,
  clang-analyzer*,
  cppcoreguidelines*,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-type-vararg,
  google*,
  hicpp*,
  -hicpp-vararg,
  misc*,
  modernize*,
  -modernize-use-trailing-return-type,
  performance*,
  portability*,
  readability*,
  -readability-identifier-length,
  -readability-magic-numbers,
WarningsAsErrors: >-
  boost*,
  bugprone*,
  cert*,
  clang-analyzer*,
  cppcoreguidelines*,
  google*,
  hicpp*,
  misc*,
  modernize*,
  performance*,
  portability*,
  readability*,
